/*Last updated 1-29-2020*/

@media (max-width: 30em)
{
* {
	box-sizing: content-box;
}
body {
	width: 80%;
}
.caption
{
    font-size: 12px;
    padding: 4px 12px;
    position: absolute;
    bottom: 16px;
    width: 90%;
}
.contacts {
	column-count: 1;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
}
h1 {
	padding: 0.625em;
	margin: 0em;
	font-size: 22px;
	display: block;
}
input {
	font-size: large;
    border-radius: 15px;
	border: 2px outset darkgray;
	padding: .35em;
	width: 120px;
}
menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.top-menu {
	max-width: 100%;
	padding: 0px !important;
	margin: 10px auto 0 auto;
}
.bottom-menu {
	max-width: 100%;
	padding: 0px !important;
}
.small {
	display:none;
}
span {
	margin: 0;
}
}

@media (min-width: 30em)
{
body
{
	width: 80%;
}
.caption 
{
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 16px;
    width: 90%;
}

input {
	font-size: large;
    border-radius: 15px;
	border: 2px outset darkgray;
	padding: .35em;
	width: 180px;
}

.small {
	max-height:2em;
	max-width:2em;
	display:inline;
	margin: -0.3em 0.5em 0em -0.5em;
}

span {
	margin: -0.5em 0 0 0;
}
}

@media (min-width: 30em) and (max-width: 55em)
{
h1 {
	font-size: 32px;
	display: block;
	padding: 0.625em;
	margin: 0em;
}
.contacts {
	column-count: 2;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
}
menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.top-menu {
	max-width: 100%;
	padding: 0px !important;
	margin: 10px auto 0 auto;
}
.bottom-menu {
	padding: 0px !important;
	max-width: 100%;
}
}

@media (min-width: 55em)
{
body {
    width: 70%;		
}
.contacts {
	column-count: 3;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
}
h1 {
	font-size: 42px;
	display: block;
	padding: 0.625em;
	margin: 0em;
}
menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.bottom-menu {
	margin: 0 auto;
	padding: 0px !important;
	max-width: 70%;
}
.top-menu {
	max-width: 60%;
	margin: 10px auto 0 auto;
}

#search-and-size {
    margin: -4em 0 0 0;	
}
* {
    box-sizing: border-box;
}
}



a{
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}

.contacts h2 {
	column-span: all;
	margin: 20px;
}

h2 a {
	color: white;
}

a.title:hover {
	text-decoration: none !important;
}

.active, .dot:hover {
  background: radial-gradient(#009900 15%, #003300 90%)  !important; /*alternatively #717171*/
}
.banner {
	max-width: 100%;
	margin: auto auto -10px auto;
	display: flex;
}
body {
	background-image: url("old-couple-walking.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size:  cover;
    padding: 0em 1.25em 1.25em 1.25em;
	margin: 3em auto;
	padding: 0em;
	border: 5px groove gray;
}
button {
	color: black;
	margin: 5px;
	padding: 5px;
	border: none;
	display: inline;
	font-family: Times New Roman;
	font-size: 1em;
	background-color: transparent;
	text-transform: uppercase;
}

.content {
	margin: 5px auto;
	font-size: large;
	color: black;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
}

.date {
	text-align: left;
	font-size: 1.2em;
	color: orange;
}

div {
	background-color: transparent;
    padding: 0.625em;
	font-size: 1em;
}
/* The dots/bullets on the carousel */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dropdown
{
	display:inline-block;
	position: relative;
}
.dropdown-content {
	display: none;
	color: blue;
	position: absolute;
	z-index: 100;
	background: radial-gradient(#ffcc33 25%, #e6ac00 85%);
	list-style: none;
	padding: .25em;
	border: 2px groove darkgray;
	border-radius: 1em;
}
.dropdown:hover .dropdown-content {
	display:block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Hide all but first slide by default */
.mySlides
{
	display: none;
	padding: 1.5em;
	position: relative;
}

.first {
	display: block;
}

.flex {
	display: flex;
	flex-direction: row;
}

footer {
	clear: both;
	border: 5px groove gray;
	background: linear-gradient(lightgray 15%, darkgray 85%);
	padding: 0.625em;
}
form {
	font-size: medium;
    border-radius: 15px;
	display: flex;
	margin: 0 -1em 0 0;
}


.heading {
	border: 5px groove gray;
	background: linear-gradient(#009900 15%, #006600 100%); /*linear-gradient(#009900 15%, #003300 100%);*/
    min-height: 8.5em;
}

hr {
	clear: both;
}

img {
	border-radius: 5px;
}


.left {
	float:left;
}
li {
	margin: .25em;
	text-transform: uppercase;
}

.menu-img {
	max-width: 108px;
    max-height: 108px;
	display: flex;
	margin: auto;
}
.minutes {
	font-size: large;
}
.minutes a{
	color: white;
}
.news {
	text-align: center;
}
/* Next & previous buttons */
.next {
  right: 0;
  border-radius: 0 5px 5px 0;
}
.person
{
	overflow: hidden;
    break-inside: avoid;
	font-size: large;
}
.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}
.right {
	float:right;
}

.search {
	height: 28px;
	width: 36px; 
}
section {
	display:block;
	clear: both;
	background-color: transparent;
	border: 5px groove gray;
	padding: 0.625em;
	color: white;
}

/* Carousel */
.carousel {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.submit {
    margin: 0 0 -4px 0;
}
.title-text {
    float: left;
}
.title {
	text-decoration: none;
	color: black;
}
.toggle{
	color: white;
	font-size: medium;
    border-radius: 15px;
	border: 3px outset darkgray;
	padding: .35em;
	background: linear-gradient(#009900 15%, #003300 100%);
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
