/*Last updated 7-20-2021*/

/*Begin media queries based on screen width*/

@media (max-width: 30em)
{
* {
	box-sizing: content-box;
}
body {
	width: 80%;
}

.banner-article
{
	font-size: 22px;
	width: 90%
}
.contacts {
	column-count: 1;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
	font-size: large;
}
.contacts h2 {
	column-span: all;
	margin: 10px;
	font-size: 1.5em;
}
.content {
    margin: 5px auto;
}
h1 {
	padding: 0.625em;
	margin: 0;
	font-size: 22px;
	display: block;
}
h2 {
	font-size: 1.5em;
	margin: 0.5em 0;
	
}

menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.top-menu {
	max-width: 100%;
	padding: 0 5px !important;
	margin: 10px auto 0 auto;
}
.bottom-menu {
	max-width: 100%;
	padding: 0 5px !important;
}

span {
	margin: 0;
}
}

@media (min-width: 30em)
{
body
{
	width: 80%;
}

span {
	margin: -0.5em 0 0 0;
}

}

@media (min-width: 30em) and (max-width: 53em)
{
h1 {
	font-size: 32px;
	display: block;
	padding: 0.625em;
	margin: 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.4em 0;
}
.banner-article
{
	font-size: 28px;
	width:90%;
}
.contacts {
	column-count: 2;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
	font-size: large;
}
.contacts h2 {
	column-span: all;
	margin: 10px;
	font-size: 1.5em;
}
.content {
	margin: 5px 10%;
}
menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.top-menu {
	max-width: 100%;
	padding: 0 5px !important;
	margin: 10px auto 0 auto;
	text-align: center;
}
.bottom-menu {
	padding: 0 5px !important;
	max-width: 100%;
	text-align: center;
}
}

@media (max-width: 37em)
{
	.small {
		display:none;
	}
	.bottom-menu li {
		display: block;
		text-align: center;
	}
	.caption
    {
    font-size: 12px;
    padding: 4px 12px;
    position: absolute;
    bottom: 0;
    width: 90%;
    }
	.carousel {
	padding: 0;
	}
	.prev, .next {
		padding: 6px;
	}
	.mySlides {
	    padding: 0.25em;
}
    div {
		padding: 0.25em;
	}
}

@media (min-width: 37em)
{
	.small {
	max-height:2em !important;
	max-width:2em !important;
	margin: -0.3em 0.5em 0 -0.5em !important;
	}
	.bottom-menu li {
		display: inline-block;
	}
	.caption {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 16px;
    width: 90%;
    }
	.carousel {
		padding: 0.625em;
	}
	.prev, .next {
		padding: 16px;
	}
	.mySlides {
		padding: 1.5em;
	}
	div {
		padding: 0.625em;
	}
}

@media (min-width: 51em)
{
	* {
		box-sizing: border-box;
	}
}

@media (min-width: 53em)
{
body {
    width: 70%;		
}
.banner-article
{
	font-size: 32px;
	width: 70%;
}

.contacts {
	column-count: 3;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	color: black;
	font-size: large;
}
.content {
	margin: 5px 15%;
}
h1 {
	font-size: 42px;
	display: block;
	padding: 0.625em;
	margin: 0;
}
h2 {
	font-size: 2em;
	margin: 0.4em 0;
}
.contacts h2 {
	column-span: all;
	margin: 10px;
	font-size: 2em;
}
menu {
	clear: both;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
	border: 5px groove gray;
	margin: 0 auto;
}
.bottom-menu {
	margin: 0 auto;
	padding: 0 5px !important;
	max-width: 100%;
	text-align: center;
}
.top-menu {
	max-width: 85%;
	margin: 10px auto 0 auto;
	padding: 0 5px !important;
	text-align: center;
}
.size {
    margin: -4em 0 0 0;	
}
}

@media (min-width: 75em) and (max-width: 90em)
{
	.top-menu {
		max-width: 78%;
	}
	.banner-article
{
	width: 70%;
}
    .content {
		margin: 5px 20%;
	}
}

@media (min-width: 90em)
{
	.top-menu {
		max-width: 70%;	
	}
	.banner-article
{
	width: 90%;
}
    .content {
		margin: 5px 20%;
	}
}
@media (min-width: 95em)
{
	.bottom-menu{
		max-width: 90%;
	}
}

/*End media queries based on screen width*/

a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}

abbr {
	text-decoration: none !important;
	font-variant: none;
}
h2 a {
	color: white;
	font-family: "Times New Roman";
}
h2 a:hover {
	text-shadow: 2px 2px grey;
}
a.title:hover {
	text-decoration: none !important;
}

.active, .dot:hover {
  background: radial-gradient(#009900 15%, #003300 90%)  !important; /*alternatively #717171*/
}
.banner {
	max-width: 100%;
	margin: auto auto -10px auto;
	display: flex;
}

.banner-article {
    display: block;
	clear: both;
	background-color: transparent;
	border: 5px groove gray;
	padding: .25em;
	color: white;
	margin: 5px auto;
	text-align: center;
	color: black;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
}

body {
	background-image: url("old-couple-walking.webp");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size:  cover;
	margin: 3em auto;
	padding: 0;
	border: 5px groove gray;
}
button {
	color: black;
	margin: 5px;
	padding: 5px;
	border: none;
	font-family: "Times New Roman";
	font-size: 1em;
	background-color: transparent;
	text-transform: uppercase;
}

.content {
	font-size: large;
	color: black;
	background: radial-gradient(#ffd24d 25%, #e6ac00 85%);
}

.date {
	text-align: left;
	font-size: 1.2em;
	color: orange;
}

div {
	background-color: transparent;
	font-size: 1em;
}

/* The dots/bullets on the carousel */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dropdown
{
	display:inline-block;
	position: relative;
}
.dropdown-content {
	display: none;
	color: blue;
	position: absolute;
	z-index: 100;
	background: radial-gradient(#ffcc33 25%, #e6ac00 85%);
	list-style: none;
	padding: .25em;
	border: 2px groove darkgray;
	border-radius: 1em;
	margin: 0;
	text-align: left;
}
.dropdown:hover .dropdown-content {
	display:block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-content {
  top: 0;
  left: 112%;
  margin-top: -1px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Hide all but first slide by default */
.mySlides
{
	display: none;
	position: relative;
}

.first {
	display: block;
}

.flex {
	display: flex;
	flex-direction: row;
}

footer {
	clear: both;
	border: 5px groove gray;
	background: linear-gradient(lightgray 15%, darkgray 85%);
	padding: 0.625em;
}
form {
	font-size: medium;
    border-radius: 15px;
	display: flex;
	margin: 0 -1em 0 0;
}

.heading {
	border: 5px groove gray;
	background: linear-gradient(#009900 15%, #006600 100%); /*linear-gradient(#009900 15%, #003300 100%);*/
    min-height: 8.5em;
}

hr {
	clear: both;
}

img {
	border-radius: 5px;
}


.left {
	float:left;
}
li {
	color: black;
	list-style: none;
	margin: .25em;
	text-transform: uppercase;
}

.menu-img {
	max-width: 108px;
    max-height: 108px;
	display: flex;
	margin: auto;
}
.minutes {
	font-size: large;
}
.minutes a{
	color: white;
}
.news {
	text-align: center;
}


.right {
	float:right;
}

.search {
	height: 28px;
	width: 36px; 
}
section {
	display:block;
	clear: both;
	background-color: transparent;
	border: 5px groove gray;
	padding: 0.625em 1em;
	color: white;
}

/* Carousel */
.carousel {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.next {
  right: 0;
  border-radius: 0 5px 5px 0;
}
.person
{
	overflow: hidden;
    break-inside: avoid;
	font-size: large;
}
.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* On hover, add a black background color with transparency */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.submit {
    margin: 0 0 -4px 0;
}
.title-text {
    float: left;
}
.title {
	text-decoration: none;
	color: black;
}
.toggle{
	color: white;
	font-size: medium;
    border-radius: 15px;
	border: 3px outset darkgray;
	padding: .35em;
	background: linear-gradient(#009900 15%, #003300 100%);
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
